{% extends 'project/sign.html' %}

{% block title %} Zest | Reset Password {% endblock %}

{% block account_title %} Reset Password {% endblock %}

{% block page_data %}
      <form class="sign-form" method="post" action="/reset-password-complete/">
        {% csrf_token %}
        <input type="email" name="email" value="" placeholder="email@gmail.com"><br>
        <button type="submit" name="button">Reset Password</button><br>
        <a href="{% url 'sign_in' %}">Sign In</a><br>
      </form>
{% endblock %}
